// Color Themes
$dark-blue: #0b3c5d;
$light-blue: #328cc1;
$yellow: #d9b310;
$very-dark-blue: #1d2731;

// Body
$body-bg: #f5f8fa;
$body-margin-top: 3.5em;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Open Sans", Helvetica, "PT Sans Narrow", "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.8;
$text-color: #0b3c5d;

// Navbar
$navbar-margin-bottom: 15px;
//$navbar-padding-horizontal: 12px;
//$navbar-default-color: #fff;
//$navbar-default-border: #328cc1;
//$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #328cc1;
$navbar-default-link-active-color: #328cc1; 

//$navbar-bottom-color: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Footer
$footer-color: #1d2731;
$footer-text-color: #328cc1; 
$footer-link-color: #fff;
$footer-link-hover-color: #328cc1;
