body {
	padding-top: $body-margin-top;
	color: $text-color;
}

#banner {
	background: $dark-blue;
}

.push-top {
	margin-top: 25px;
}

#ticket {
	.btn-primary {
		background: $dark-blue;
	}
}

.navbar-nav {
  > li > a {
    font-size:    1.25em;
  }
}

.schedule-box {
	background: #d9b310;
	border: 1px solid #0b3c5d;
}

.ticket-box {
	background: #328cc1;
	color: #fff;
}

footer {
	color: $footer-text-color;
	background: $footer-color; 
	margin-top: 20px;
	margin-bottom:0;
	min-height: 5em;
	padding-bottom: 3.5em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		margin-right: 10px; 

		a {
			color: $footer-link-color;

			&:hover, 
			&:focus {
				text-decoration: none;
				background-color: none;
				color: $footer-link-hover-color;
			}
		}
	}
}