body {
	padding-top: $body-margin-top;
	color: $text-color;
	position: relative;

}

#banner {
	background: $dark-blue;
}

.push-top {
	margin-top: 25px;
}

#ticket {
	.btn-primary {
		background: $dark-blue;
	}
}

.navbar-brand{
	background-image: url('/img/logo_header_web.png');
	background-size: 250px 50px;
	background-repeat: no-repeat;
	width: 250px;
}

.navbar-default {
    background-color: rgba(255,255,255,0.8);
    border-color: #e7e7e7;

    .navbar-nav {
		li {
			a {
			    color: #405871;
    			font-size: 1.25em;
			}

			a:hover {
			    color: #fff;
				background-color: #415971;
			}
		} 

    	.active > a,
    	.active > a:focus,
    	.active > a:hover {
			color: #fff;
	    	background-color: #5cb7ca;
    	} 
    } 
}

.schedule-box {
	background: #d9b310;
	border: 1px solid #0b3c5d;
}

.ticket-box {
	background: #328cc1;
	color: #fff;
	padding-top: 10px;
}

footer {
	color: $footer-text-color;
	background: $footer-color; 
	margin-top: 20px;
	margin-bottom:0;
	min-height: 5em;
	padding-bottom: 3.5em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		margin-right: 10px; 

		a {
			color: $footer-link-color;

			&:hover, 
			&:focus {
				text-decoration: none;
				background-color: none;
				color: $footer-link-hover-color;
			}
		}
	}

	.copyright {
		text-align: center;
		font-size: 8pt;
		margin-top: 20px;
		padding-bottom: 10px;
	}
}